* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0A0F26;
    --off-color: #D9D8D7;
    --fade-color: rgba(223, 223, 223, 0.08);

    --base-color: #F2F2F0;

    --secondary-color: #D99F7E;
}

/* headlines and texts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    position: relative;
}

/* body */
body {
    /* background-color: var(--base-color); */
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav */

/* main  */
main {
    /* border: 1px solid var(--primary-color); */
    background-color: var(--base-color);
    padding: 2rem;
    /* width: 64vw; */
}

.add-btn {
    background-color: var(--secondary-color);
    color: var(--base-color);
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    margin-bottom: 1rem;
    transition: 300ms;
}

.add-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.back-btn {
    background-color: var(--off-color);
    color: var(--primary-color);
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    margin-bottom: 1rem;
    transition: 300ms;
}

.back-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logout-btn {
    background-color: var(--off-color);
    padding: 5px 20px;
    transition: 300ms;
}

.logout-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* table */
table {
    font-family: 'Rubik', sans-serif;
}

/* img */
.img-container {
    width: fit-content;
}

.img-container img {
    width: 150px;
}

/* inputs */
label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type=file] {
    display: none;
    color: var(--primary-color);
}

.file-upload {
    border: 1px solid var(--off-color);
    width: 150px;
    overflow: hidden;
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 10px;
}

.file-upload i {
    font-size: 22px;
}

select {
    background-color: transparent;
    display: block;
    height: fit-content;
    padding: 10px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--off-color);
    cursor: pointer;
}

select option {
    text-transform: uppercase;
}

input, select {
    margin-bottom: 1rem;
}

input[type="text"] {
    height: 2rem;
    width: fit-content;
    padding: 1rem;
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--off-color);
    background-color: transparent;
}

#college-input {
    width: 100%;
}

.radio-btns input[type="radio"] {
    display: none;
}

.radio-btns label {
    border: 1px solid var(--off-color);
    padding: 10px 20px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.radio-btns input[type="radio"]:checked+label {
    color: var(--base-color);
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
}

.submit-btn {
    background-color: var(--secondary-color);
    color: var(--base-color);
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    padding: 10px 20px;
    margin-bottom: 1rem;
    transition: 300ms;
}

.submit-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* divider */
.row {
    display: flex;
    /* justify-content: space-around; */
    margin: auto;
    margin-top: 1rem;
}

.col-img, .col-center {
    margin-right: 2rem;
}